<div id="ManageUserView1">
    <hr>

    <div class="dahboard-round-button">
        <div>Manage User Profile</div>
        <!--<span style="color: #9ea900">1 new alert</span>-->
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>Name</h4>
            <div>
                <input type="text" id="txtName" style="width: 100%" ng-model="userProfile.name">
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>Email</h4>
            <div>
                <input type="text" id="txtEmail" style="width: 100%" ng-model="userProfile.email">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>Date of Birth</h4>
            <div>
                <md-datepicker ng-model="userProfile.dateOfBirth" md-placeholder="Enter date" ng-change="captureNewDate()"></md-datepicker>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h4>Location</h4>
            <div style="margin-bottom: 10px">
                <input type="text" id="txtLocation.address" style="width: 100%" ng-model="userProfile.location.address">
                <!--<input type="text" id="txtLocation.lat" style="width: 40%" ng-model="userProfile.location.lat">-->
                <!--<input type="text" id="txtLocation.long" style="width: 40%" ng-model="userProfile.location.long">-->
            </div>

            <div id="MapScope" class="map-border">
                <div>
                    <leaflet lf-center="berwick" event-broadcast="events" markers="markers" height="250px" width="100%"></leaflet>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="row" style="padding: 15px;">
        <button class="submit-button" ng-click="saveChanges()">
            Save Changes
        </button>
    </div>

</div>
